* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

header {
  width: 100%;
  text-align: center;
}
.ig-word {
  height: 50px;
  margin-top: 3em;
}

main {
  margin-top: 1.5em;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
label {
  left: -9999px;
  position: absolute;
}
input {
  width: 76%;
  padding: 0.8em;
  font-size: 12px;
  margin-top: 0.6em;
  border-radius: 2px;
  color: rgb(224, 224, 224);
  background-color: rgb(250, 250, 250);
  border: 0.6px solid rgb(224, 224, 224);
}
.login-button {
  width: 76%;
  color: white;
  padding: 0.4em;
  font-size: 14px;
  margin-top: 1em;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(0, 150, 250);
  border: 0.6px solid rgb(224, 224, 224);
}

.or-section {
  display: flex;
  font-weight: bold;
  margin-top: 1.5em;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(110, 110, 110, 0.5);
}
.stripe {
  width: 23%;
  height: 0.015em;
  background-color: rgb(110, 110, 110, 0.5);
}

.login-facebook {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
}
.facebook-logo {
  height: 15px;
}
.link-login-facebook {
  color: #385185;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.5em;
  text-decoration: none;
}

.forgot-password {
  margin-top: 0.8em;
  text-align: center;
}
.link-forgot-password {
  color: #385185;
  font-size: 0.75rem;
  text-decoration: none;
}

.account-signup {
  margin-top: 2.5em;
  text-align: center;
}
.account-signup p,
.link-account-signup {
  font-size: 0.8rem;
}
.link-account-signup {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}
.get-app {
  margin-top: 3.5em;
}

.gplay-microsoft {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-download-app {
  height: 40px;
  margin-top: 1.5em;
}
