* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

.border-top {
  width: 350px;
  padding: 1.2em;
  max-width: 80%;
  margin: 0.8em auto;
  background-color: white;
  border: 0.5px solid rgb(224, 224, 224);
}
.border-bottom {
  width: 350px;
  padding: 0.8em;
  max-width: 40%;
  margin: 0.8em auto;
  background-color: white;
  border: 0.5px solid rgb(224, 224, 224);
}

header {
  text-align: center;
}
.ig-word {
  height: 50px;
  margin-top: 2em;
}

main {
  margin-top: 1.5em;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
label {
  left: -9999px;
  position: absolute;
}
input {
  width: 86%;
  padding: 0.85em;
  font-size: 12px;
  margin-top: 0.6em;
  border-radius: 2px;
  color: rgb(224, 224, 224);
  background-color: rgb(248, 248, 248);
  border: 0.6px solid rgb(224, 224, 224);
}
.login-button {
  width: 86%;
  color: white;
  padding: 0.4em;
  font-size: 14px;
  margin-top: 1em;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(0, 150, 250);
  border: 0.6px solid rgb(224, 224, 224);
}

.or-section {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  color: rgb(185, 185, 185);
  justify-content: space-evenly;
}
.stripe {
  width: 30%;
  height: 0.015em;
  background-color: rgb(155, 155, 155);
}

.login-facebook {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
}
.facebook-logo {
  height: 15px;
}
.link-login-facebook {
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.5em;
  text-decoration: none;
  color: rgba(54, 34, 134, 0.8);
}

.forgot-password {
  margin-top: 0.8em;
  text-align: center;
}
.link-forgot-password {
  font-size: 0.75rem;
  text-decoration: none;
  color: rgba(54, 34, 134, 0.8);
}

.account-signup {
  margin-top: 0.2em;
  text-align: center;
}
.account-signup p,
.link-account-signup {
  font-size: 0.85rem;
}
.link-account-signup {
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 150, 250);
}
.get-app {
  margin-top: 2em;
}

.gplay-microsoft {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-download-app {
  height: 40px;
  cursor: pointer;
  margin-top: 1.2em;
}

footer {
  display: flex;
  margin-top: 5em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-link {
  width: 100%;
  text-align: center;
}
.footer-link a {
  font-size: 0.75rem;
  margin-left: 0.75em;
  text-decoration: none;
  color: rgb(155, 155, 155);
}
.footer-link a:hover {
  text-decoration: underline;
}

.language-copyright {
  gap: 10px;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 4em;
  align-items: center;
  justify-content: center;
  color: rgb(155, 155, 155);
}
.language-container {
  width: 40%;
  text-align: center;
}
#language {
  width: 60%;
  border: none;
  color: rgb(155, 155, 155);
}
#copyright {
  font-size: 0.75rem;
}

@media (max-width: 450px) {
  .border-top,
  .border-bottom {
    border: none;
    max-width: 100%;
    background-color: transparent;
  }
}
